simulation:
  fps: 40
  screen_width: 800
  screen_height: 800
  dt: 0.1

vehicle:
  length: 4.0
  width: 2.0
  wheelbase: 2.5
  max_velocity: 5.0
  max_acceleration: 3.0
  max_deceleration: -5.0
  max_steering_angle: 0.6 # ~34 degrees

planner:
  algorithm: astar

  astar:
    max_iterations: 300000
    grid_resolution: 0.5
    heuristic_weight: 1.5
    spacing: 1.0

  rrt:
    max_iterations: 100000
    goal_threshold: 2.0
    step_size: 0.5
    goal_sample_rate: 0.1

  rrt_star:
    max_iterations: 100000
    goal_threshold: 2.0
    step_size: 0.5
    goal_sample_rate: 0.1
    rewire_radius: 5.0

controller:
  type: "pure_pursuit"   # pid | pure_pursuit | adaptive_pure_pursuit

  pid:
    kp_lateral: 1.5
    ki_lateral: 0.05
    kd_lateral: 0.6

    kp_longitudinal: 0.8
    ki_longitudinal: 0.05
    kd_longitudinal: 0.1

    max_steering: 0.6
    max_acceleration: 3.0

    lookahead_distance: 5.0
    target_speed: 5.0
    goal_threshold: 1.0
    dt: 0.1

  pure_pursuit:
    lookahead_distance: 5.0
    lookahead_gain: 0.5
    min_lookahead: 2.0
    max_lookahead: 10.0
    target_speed: 5.0
    speed_kp: 0.5
    goal_threshold: 1.0
    dt: 0.1

  adaptive_pure_pursuit:
    lookahead_distance: 5.0
    lookahead_gain: 0.5
    min_lookahead: 2.0
    max_lookahead: 10.0
    target_speed: 5.0
    speed_kp: 0.5
    goal_threshold: 1.0
    dt: 0.1
    max_curvature_speed: 3.0
    curvature_lookahead: 10.0

training:
  algorithm: "ppo"
  total_timesteps: 100000
  learning_rate: 0.003
  batch_size: 64
  gamma: 0.99
  n_steps: 2048
  ent_coef: 0.01

visualization:
  show_trajectories: true
  show_sensors: false
  show_path: true
  vehicle_color: [0, 100, 255]
  obstacle_color: [100, 100, 100]
  path_color: [255, 0, 0]
  goal_color: [0, 255, 0]

map:
  sim_map_yaml_file: 'maps/yaml/map_3.yaml'
